html
  head
    title Books list
  body
    if flash
      #flash= flash
    if book != null
      h1 Book information
      table
        tr
          th ID
          th Author
          th Title
        tr
          td= book.id
          td= book.author
          td= book.title
      hr
      h2 Update this book
      form(action='/books/#{book.id}?_method=PUT', method='POST')
        //input(type='hidden', name='_method', value='put')
        p Author:
          input(name='author', value=book.author)
        p Title:
          input(name='title', value=book.title)
        input(type='submit', value='Update book')
    else
      h1 We are sorry. This book doesn't exist.
    a(href='/books') Back to list
